* {
    margin: 0px;
    padding: 0px;
}

.mySlides {
    display: none;
}

body {
    background-image: linear-gradient(45deg, rgb(253, 179, 179), rgb(167, 248, 167), rgb(152, 152, 253));
    font-family: Verdana, sans-serif;
    height: 95.5vh;
    width: 100vw;
}

.head {
    margin: 2rem 20vw;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(143, 219, 219);
    color: black;
    border-radius: 19px;
    font-weight: bolder;
}

.data-container {
    width: 510px;
    height: 400px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 158, 105);
    transition: 0.2s all ease;
}

.bar_id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}

.btn1 {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
    margin: 4vw 1vw auto 37vw;
}

.btn2 {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.btn1:hover, .btn2:hover {
    background-color: blueviolet;
}